@import '~normalize-styl'
@import 'variables.styl'

*
    box-sizing border-box

html
body
#__nuxt
    min-height 100%
    
body
    font-size 16px
    line-height 1.4
    *background-color black
    