@keyframes gamburger
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(0);
    }

@keyframes topDown 
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }